.rodape {
  width: 100%;
  padding: 1rem 2rem; /* Espaçamento interno padronizado */
  text-align: center;
  margin-top: auto; /* Garante que ele fique no fundo no modo 100vh */
}

.rodape p {
  color: var(--cor-subtexto);
  font-family: var(--fonte-botoes-ui);
  font-size: 1rem;
  letter-spacing: 0.5px;
}