@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.carrossel__titulo {
    font-family: var(--fonte4);
    color: var(--cor-preta);
    background-color: var(--cor-bege);
    text-align: center;
    font-size: 5vh;
    font-weight: 300;
    padding: 0.5em 0 0.5em 0;
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
}

.carrossel {
    max-width: auto;
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden;
}

.carrossel img {
    width: 40vh;
    height: 100%;
    object-fit: contain;
    border-radius: 2vh;
}

.swiper {
    border-radius: 8%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    transition: transform 0.3s;
    padding: 2%;
    box-shadow: none;
}

.swiper-slide img {
    width: 100%;
    height: 40vh;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 2vh;
}

.swiper-slide:hover {
    transform: scale(1.05); 
}

.swiper-slide-active {
    transform: scale(1); 
}

.swiper-wrapper {
    display: flex;
    transition-timing-function: linear !important;
    max-width: 65vh;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.swiper-pagination, .swiper-button-prev, .swiper-button-next {
    display: none;
}

.card {
    font-size: 2.1vh;
    font-family: var(--fonte3);
    background: var(--degrade1);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    border-radius: 2vh;
    margin: 0 auto 2vh auto;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 50%;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 1vh 4vh rgba(0, 0, 0, 0.5);
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    flex-wrap: wrap;
}

.descricao__conteudo {
    flex: 1;
    min-width: 40vh;
}

/* Títulos e textos */
.descricao__titulo {
    color: var(--cor-preta);
    font-size: 3vh;
    margin-bottom: 1vh;
    font-weight: 400;
}

.descricao__titulo-livro {
    color: #333;
    font-size: 4vh;
    margin: 1vh 0;
    font-weight: 300;
    letter-spacing: 0.5vh;
}

.descricao__texto {
    margin: 0 10% 1% 0;
    font-size: 2vh;
    color: #555;
    line-height: 1.6;
}

.descricao__imagem {
    width: 100%;
    max-width: 24vh;
    border-radius: 1.5vh;
    margin: 2vh 0;
    transition: transform 0.3s;
}

.descricao__imagem:hover {
    transform: scale(1.05);
}

.coluna__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 11% 0 11%;
}

.card__botoes {
    margin-top: auto;
    display: flex;
    padding: 0 20% 0 0;
    gap: 2vh;
}

.botoes {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1vh;
}

.botoes__item img {
    width: 3.5vh;
    height: 3.5vh;
    cursor: pointer;
    transition: transform 0.2s;
}

.botoes__item img:hover {
    transform: scale(1.2);
}

.botoes__ancora {
    display: inline-block;
    padding: 1.2vh 2.4vh;
    background-color: #584e3765;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 1vh;
    box-shadow: 0 1vh 4vh rgba(0, 0, 0, 0.5);
    font-weight: 300;
    transition: background-color 1s;
    margin-top: 2vh;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: transform 0.3s ease; 
}

.botoes__ancora::before {
    content: '';
    position: absolute;
    top: 0;
    left: -110%; 
    width: 100%;
    height: 100%; 
    background: var(--degrade3);
    transition: left 1s ease;
    z-index: -1;
}

.botoes__ancora:hover {
    transform: scale(1.02);
    color: var(--cor-branco)
}

.botoes__ancora:hover::before {
    left: 0;
}

.botoes__ancora::before {
    transition:  0.3s ease;
}

@media (max-width: 800px) {

    .carrossel__titulo {
        font-size: 4vh;
        padding: 0.3em;
    }

    .swiper-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2vh;             
        padding: 2%;
    }

    .swiper-slide {
        flex: 0 0 auto;           
        margin: 0 1vh;
    }

    .swiper-slide img {
        width: 11vh;
        height: 18vh;
        object-fit: cover;
        border-radius: 2vh;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .card {
        max-width: 70%;
        padding: 1.5em;
        font-size: 1.8vh;
    }

    .descricao__titulo-livro {
        font-size: 2vh;
    }

    .descricao__texto {
        font-size: 1.4vh;
    }

    .descricao__imagem {
        width: 18vh;
        height: 18vh;
        object-fit: cover;
        max-width: unset;
        border-radius: 2vh;
    }
}

