@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url("carrossel.css");
@import url("contatos.css");
@import url("rodape.css");
@import url("reset.css");
@import url("corrente.css");
@import url("texto.css");
@import url("desenho.css");

:root {
    --cor-branco: #ffffff;
    --cor-fundo: #d4d4d4;
    --cor-preta: #000000;
    --cor-bege: #fffae9;
    --cor-paleta-1: #d8ccb2;
    --cor-paleta-2: #ccbd9e;
    --cor-paleta-3: #495168;
    --cor-paleta-4: #1a4141;
    --cor-paleta-5: #82a374;
    /* --degrade1: radial-gradient(circle at 70% 50%, #e9e9e9, rgb(255, 181, 181)); */
    --degrade1: radial-gradient(circle at 70% 50%, #ccbd9e, #fffae9);
    --degrade2: radial-gradient(circle at 70% 50%, #d4d4d4, #fffae9);
    --degrade3: radial-gradient(circle at 70% 50%, #3f3f3f, rgb(43, 43, 43));
    /* --degrade3: radial-gradient(circle at 70% 50%, #ffffff, #e026648f); */
    --degrade4: radial-gradient(circle at 100% 35%, #bdf1bd, #fff2c5);
    --fonte1: 'Montserrat', sans-serif;
    --fonte2: "Dancing Script", cursive;
    --fonte3: "Sofia", cursive;
    --fonte4: "Fleur De Leah", cursive;
}

body {
    font-family: var(--fonte1);
    font-size: 1.5vw;
    background: var(--degrade3);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.cabecalho {
    background-color: var(--cor-bege);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0.4vh 1.5vh rgba(0, 0, 0, 0.3);
}

.cabecalho__menu {
    width: 3vh;
    height: 3vh;
    background: url(../assets/menu.png) center / contain no-repeat;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20vh;
    padding-left: 2vh;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 10vh;
    padding-left: 2vh;
}

.container,
.container2 {
    display: flex;
    align-items: center;
    padding-left: 2vh;
}

.container2 img {
    max-width: 5vh;
    height: auto;
}

.container img,
.cabecalho__imagens img {
    max-width: 10vh;
    height: auto;
}

.cabecalho__imagens {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.lista__menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 10vh;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.container__botao:checked ~ .lista__menu {
    visibility: visible;
    opacity: 1;
}

.lista__menu__item,
.lista__menu__link {
    color: var(--cor-preta);
    text-decoration: none;
}

.container__botao {
    display: none;
}

.banner {
    background: var(--degrade1);
    font-family: var(--fonte4);
    color: var(--cor-paleta-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 2vh 0 2vh 0;
    box-shadow: 5vh;
}

.banner__titulo,
.banner__texto {
    color: var(--cor-paleta-3);
    text-align: center;
    padding: 0 0 0 0;

}

.banner__titulo {
    font-family: var(--fonte4);
    font-size: 2em;
    color: var(--cor-preta);
}

.banner__texto {
    font-size: 1em;
    color: var(--cor-preta);
}

.banner__pesquisa-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30vh;
}

.banner__pesquisa {
    background: transparent;
    color: var(--cor-preta);
    border: 0.1vh solid var(--cor-branco);
    border-radius: 2.4vh;
    padding: 1vh 2.5vh 1vh 1vh;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: "Montserrat", sans-serif;
    color: var(--cor-branco);
    font-size: 1.5vh;
    font-weight: 400;
    text-align: center;
}

.banner__pesquisa-lupa {
    position: absolute;
    right: 1vh;
    width: 2vh;
}

@media (max-width: 1200px){
    .container__titulo, .container__titulo--negrito {
        font-size: 3em;
    }
    .container__titulo {
        font-weight: 400;
    }
    .container__titulo--negrito {
        font-weight: 600;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 1em;
    }

    .cabecalho {
        padding: 0.5vh;
    }

    .cabecalho__menu {
        width: 3vh;
        height: 2vh;
    }

    .container {
        gap: 15vh;
        padding-left: 0;
    }

    .container2 {
        gap: 2vh;
        padding-left: 0;
    }

    .container2 img {
        max-width: 3vh;
        gap: 2vh;
        padding-left: 0;
    }

    .container img,
    .cabecalho__imagens img {
        max-width: 6vh;
    }

    .cabecalho__imagens {
        gap: 2vh;
        flex-direction: row;
    }

    .lista__menu {
        width: 50vh;
    }

    .lista__menu__titulo,
    .lista__menu__item {
        font-size: 2vh;
    }

    .banner {
        padding: 1vh;
    }

    .banner__titulo {
        padding: 1vh 0 0 0;
        font-size: 4vh;
        font-family: var(--fonte4);
    }

    .swiper-button-next, .swiper-button-prev {
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .swiper-button-next:hover, .swiper-button-prev:hover {
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
}