.texto-fofo {
    display: flex;
    justify-content: center;
    font-family: var(--fonte3);
    font-size: 1.8vh;
    color: var(--cor-preta);
    background: var(--cor-bege);
    margin: 1vh 2vh;
    padding: 2vh;
    border-radius: 1.1vh;
    box-shadow: 1vh 0vh 1vh rgba(0, 0, 0, 0.1);
}